EECamSpec/EE_DeviceConnectionStatus_definition_v2_20210806.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://een.com/ver10/deviceconnectionstatus/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://een.com/ver10/deviceconnectionstatus/wsdl" name="DeviceConnectionStatusService">
<types>
<xsd:schema>
<xsd:import namespace="http://een.com/ver10/deviceconnectionstatus/wsdl" schemaLocation="local/een.com/wsdl/ver10/deviceconnectionstatus/schema/EE_DeviceConnectionStatus_definition_v2_20210806.xsd"/>
</xsd:schema>
</types>
<message name="GetNetworkInterfacesStatus">
<part name="parameters" element="tns:GetNetworkInterfacesStatus"/>
</message>
<message name="GetNetworkInterfacesStatusResponse">
<part name="parameters" element="tns:GetNetworkInterfacesStatusResponse"/>
</message>
<message name="GetWwanInterfaceStatus">
<part name="parameters" element="tns:GetWwanInterfaceStatus"/>
</message>
<message name="GetWwanInterfaceStatusResponse">
<part name="parameters" element="tns:GetWwanInterfaceStatusResponse"/>
</message>
<message name="GetGpsReceivers">
<part name="parameters" element="tns:GetGpsReceivers"/>
</message>
<message name="GetGpsReceiversResponse">
<part name="parameters" element="tns:GetGpsReceiversResponse"/>
</message>
<message name="GetBluetoothDevices">
<part name="parameters" element="tns:GetBluetoothDevices"/>
</message>
<message name="GetBluetoothDevicesResponse">
<part name="parameters" element="tns:GetBluetoothDevicesResponse"/>
</message>
<message name="GetBluetoothDeviceStatus">
<part name="parameters" element="tns:GetBluetoothDeviceStatus"/>
</message>
<message name="GetBluetoothDeviceStatusResponse">
<part name="parameters" element="tns:GetBluetoothDeviceStatusResponse"/>
</message>
<message name="GetSimCardsDetails">
<part name="parameters" element="tns:GetSimCardsDetails"/>
</message>
<message name="GetSimCardsDetailsResponse">
<part name="parameters" element="tns:GetSimCardsDetailsResponse"/>
</message>
<message name="GetSimCardDetails">
<part name="parameters" element="tns:GetSimCardDetails"/>
</message>
<message name="GetSimCardDetailsResponse">
<part name="parameters" element="tns:GetSimCardDetailsResponse"/>
</message>
<message name="GetMobileCarriers">
<part name="parameters" element="tns:GetMobileCarriers"/>
</message>
<message name="GetMobileCarriersResponse">
<part name="parameters" element="tns:GetMobileCarriersResponse"/>
</message>
<message name="GetMobileCarrierDetails">
<part name="parameters" element="tns:GetMobileCarrierDetails"/>
</message>
<message name="GetMobileCarrierDetailsResponse">
<part name="parameters" element="tns:GetMobileCarrierDetailsResponse"/>
</message>
<message name="SetMobileCarrierDetails">
<part name="parameters" element="tns:SetMobileCarrierDetails"/>
</message>
<message name="SetMobileCarrierDetailsResponse">
<part name="parameters" element="tns:SetMobileCarrierDetailsResponse"/>
</message>
<message name="SetSimCardCarrierAndApn">
<part name="parameters" element="tns:SetSimCardCarrierAndApn"/>
</message>
<message name="SetSimCardCarrierAndApnResponse">
<part name="parameters" element="tns:SetSimCardCarrierAndApnResponse"/>
</message>
<message name="GetServiceCapabilities">
<part name="parameters" element="tns:GetServiceCapabilities"/>
</message>
<message name="GetServiceCapabilitiesResponse">
<part name="parameters" element="tns:GetServiceCapabilitiesResponse"/>
</message>
<portType name="DeviceConnectionStatus">
<operation name="GetNetworkInterfacesStatus">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetNetworkInterfacesStatus" message="tns:GetNetworkInterfacesStatus"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetNetworkInterfacesStatusResponse" message="tns:GetNetworkInterfacesStatusResponse"/>
</operation>
<operation name="GetWwanInterfaceStatus">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetWwanInterfaceStatus" message="tns:GetWwanInterfaceStatus"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetWwanInterfaceStatusResponse" message="tns:GetWwanInterfaceStatusResponse"/>
</operation>
<operation name="GetGpsReceivers">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetGpsReceivers" message="tns:GetGpsReceivers"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetGpsReceiversResponse" message="tns:GetGpsReceiversResponse"/>
</operation>
<operation name="GetBluetoothDevices">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetBluetoothDevices" message="tns:GetBluetoothDevices"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetBluetoothDevicesResponse" message="tns:GetBluetoothDevicesResponse"/>
</operation>
<operation name="GetBluetoothDeviceStatus">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetBluetoothDeviceStatus" message="tns:GetBluetoothDeviceStatus"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetBluetoothDeviceStatusResponse" message="tns:GetBluetoothDeviceStatusResponse"/>
</operation>
<operation name="GetSimCardsDetails">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetSimCardsDetails" message="tns:GetSimCardsDetails"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetSimCardsDetailsResponse" message="tns:GetSimCardsDetailsResponse"/>
</operation>
<operation name="GetSimCardDetails">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetSimCardDetails" message="tns:GetSimCardDetails"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetSimCardDetailsResponse" message="tns:GetSimCardDetailsResponse"/>
</operation>
<operation name="GetMobileCarriers">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetMobileCarriers" message="tns:GetMobileCarriers"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetMobileCarriersResponse" message="tns:GetMobileCarriersResponse"/>
</operation>
<operation name="GetMobileCarrierDetails">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetMobileCarrierDetails" message="tns:GetMobileCarrierDetails"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetMobileCarrierDetailsResponse" message="tns:GetMobileCarrierDetailsResponse"/>
</operation>
<operation name="SetMobileCarrierDetails">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/SetMobileCarrierDetails" message="tns:SetMobileCarrierDetails"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/SetMobileCarrierDetailsResponse" message="tns:SetMobileCarrierDetailsResponse"/>
</operation>
<operation name="SetSimCardCarrierAndApn">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/SetSimCardCarrierAndApn" message="tns:SetSimCardCarrierAndApn"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/SetSimCardCarrierAndApnResponse" message="tns:SetSimCardCarrierAndApnResponse"/>
</operation>
<operation name="GetServiceCapabilities">
<input wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/GetServiceCapabilities" message="tns:GetServiceCapabilities"/>
<output wsam:Action="http://een.com/ver10/deviceconnectionstatus/wsdl/DeviceConnectionStatus/GetServiceCapabilitiesResponse" message="tns:GetServiceCapabilitiesResponse"/>
</operation>
</portType>
<binding name="DeviceConnectionStatusPortBinding" type="tns:DeviceConnectionStatus">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetNetworkInterfacesStatus">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetNetworkInterfacesStatus"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetWwanInterfaceStatus">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetWwanInterfaceStatus"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetGpsReceivers">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetGpsReceivers"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetBluetoothDevices">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetBluetoothDevices"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetBluetoothDeviceStatus">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetBluetoothDeviceStatus"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetSimCardsDetails">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetSimCardsDetails"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetSimCardDetails">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetSimCardDetails"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMobileCarriers">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetMobileCarriers"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMobileCarrierDetails">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetMobileCarrierDetails"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetMobileCarrierDetails">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/SetMobileCarrierDetails"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetSimCardCarrierAndApn">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/SetSimCardCarrierAndApn"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetServiceCapabilities">
<soap:operation soapAction="http://een.com/ver10/deviceconnectionstatus/wsdl/GetServiceCapabilities"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DeviceConnectionStatusService">
<port name="DeviceConnectionStatusPort" binding="tns:DeviceConnectionStatusPortBinding">
</port>
</service>
</definitions>
